body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f0f0;
}

.search-container {
    position: relative;
    text-align: center;
    width: 300px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    font-size: 1.2em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-content div img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.dropdown-content div:hover {
    background-color: #ddd;
}
