*{
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(270deg,  #0b1d5b, #192a80);
    background-size: 400% 400%;
    animation: gradientAnimation 30s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1 {
    color: #fff;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar{
    width: 100%; 
    background-color: #1138cc;
    margin: 0;
}

.text{
    color: white;
    font-size: 3vw;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover{
    transform: scale(1.1);
    color: whitesmoke;
    transition: transform 0.2s ease, color 0.2s ease;
    
}

.bemut{
    background-color: rgba(104, 133, 239, 0.5);
}


.elsoKep{
    width: 40%;
}

.sor{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.sorPc{
    background-color: rgb(255, 255, 255);
    padding: 10px;
}


.pcImg{
    width: 70%;
    border-radius: 10px;
}

#logo{
    width: 50%;
    border-radius: 1000px;
}

.logoDiv{
    display: flex;
    justify-content: center;

}