*{
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(270deg,  #0b1d5b, #6885ef);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h3{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-variant: small-caps;
}

.navbar{
    width: 100%; 
    background-color: #1138cc;
    margin: 0;
}

.text{
    color: white;
    font-size: 2.8vw;
}

.gepCim{
    font-size: 50px;
}

.idezet{
    color: gray;
    font-style: italic;
}

.szinText{
    color: #1138cc;
    font-family: Arial, sans-serif;
    word-break: break-all;
}

.sorkoz{
    line-height: 35px;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover{
    transform: scale(1.1);
    color: whitesmoke;
    transition: transform 0.2s ease, color 0.2s ease;
    
}

.bemut{
    background-color: rgba(104, 133, 239, 0.5);
}


.elsoKep{
    width: 40%;
}

.sor{
    padding: 15px;
}

.sorPc{
    background-color: rgb(255, 255, 255);
    padding: 10px;
}


.pcImg{
    max-width: 100%;
    width: 70%;
    max-height: 100%;
    border-radius: 10px;
    display: block;
    margin: auto;
}

#logo{
    width: 50%;
    border-radius: 1000px;
}

.logoDiv{
    display: flex;
    justify-content: center;
}

.kozep{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnDiv{
    display: flex;
    justify-content: center;
}

.btnDiv2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.animated-button {
    background-color: #6885ef;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

 }

.animated-button:hover {
    background-color: #476aec;
    transform: scale(1.1);
}

.animated-button:active {
    background-color: #1138cc;
    transform: scale(0.9);
}

.smallLogo{
    width: 5%;
    height: 5%;

}

.pcCustomize{
    margin: auto;
}

.pcName{
    display: flex;
    justify-content: center;
}

.customPC{
    display: flex;
    justify-content: center;
}

.nameForPc{
    font-weight: bold;
}


